name:  Wpf Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    strategy:
      matrix:
        targetplatform: [x86]

    runs-on: windows-latest
    name: Build
    env:
      App_Packages_Directory: LINKaWPF
      Solution_Path: LINKaLooks.sln
      Wpf_Project_Path: LINKaWPF\Linkaa.Looks.csproj
      Actions_Allow_Unsecure_Commands: true # Allows AddPAth and SetEnv commands

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

    - name: Use Nerdbank.GitVersioning to set version variables
      uses: aarnott/nbgv@v0.3
      with:
        setAllVars: true

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.302'

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.1

    - name: Restore packages
      run: nuget restore $env:Solution_Path 
      
    - name: Build solution
      run: msbuild $env:Solution_Path /t:Build /p:Configuration=Release  
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Release-bin
        path: LinkaWPF/bin/Release
  
  installer:
    name: Create installer
    needs: build
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
  
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: Release-bin
          path: LinkaWPF/bin/Release
  
      - name: Building the installer
        run: |
          "%programfiles(x86)%\Inno Setup 6\iscc.exe" "Linka.looks.iss"
        shell: cmd
  
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Installer-bin
          path: Releases/linka.looks.setup.exe
  deploy:
    name: Deploy to server
    needs: installer
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
  
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: Installer-bin
          path: Releases/
      - run: set -eu
      - run: mkdir "$HOME/.ssh"
      - run: echo "${{ secrets.SSH_KEY }}" > "$HOME/.ssh/key"
      - run: chmod 600 "$HOME/.ssh/key"
      - name: Deploy to server
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}      
        run: |
          cat Releases/linka.looks.setup.exe | ssh -i ~/.ssh/key -o StrictHostKeyChecking=no aacidov@linka.su sh /var/www/wordpress/dist/linka.looks/updatefile.sh
          